


// banner 

.banner {
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.8),
     rgba(0, 0, 0, 0.8)), url(../img/pop-zebra-wp81DxKUd1E-unsplash.jpg); //img fomr pop zebra
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        color: white;
        font-size: 60px;
    }
} // banner end


// text section 


.header {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}


.intro, .how {
    margin-top: 40px;
    text-align: center;
    display:  flex;
    justify-content: center;
    margin-bottom: 40px;
}

.description {
    max-width: 1200px;
    padding: 0px 40px;
    line-height: 2;
    font-size: 20px;
}

.intro {
    font-weight: bold;
    .description {
        color: #BD491F;
    }
} // intro end

#firstElm {
    margin-top: 100px;
}

#lastElm {
    margin-bottom: 100px;
}

 

// text section end
// banner section end