
$title-font-size: 45px;
$sub-title-font-size: 25px;
$body-font-size: 16px;
$btn-font-size: 18px;
$btn-padding:  23px 32px;


body {
    margin: 0px;
    padding: 0px;
}

.portfolio-header {
    
    text-align: center; 
    background-color: #222222;
    padding: 50px 10px;
    margin-bottom: 30px;
    h1 {
        font-size: $title-font-size;
        color: white;
        text-transform: uppercase;
    }
    p {
        font-size: $sub-title-font-size;
        color: rgb(209, 209, 209);
     
    }
}


// img gallry 
.img-gallery {
     padding: 0px 40px;
     margin-bottom: 40px;
    .mini-container {
        position: relative; /// NEED THIS FOR OVERLAY TO WORK
    }
    a {
        img {
            display: block;
            height: 400px;
            width: 100%;
            margin-bottom: 30px;
             
        }

        .mini-container  .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #BD491F;
        }

        .mini-container:hover .overlay {
            opacity: 1;
        }

        .overlay-text {
            color: white;
            font-size: $title-font-size;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;

            font-style: bold;

            span {
                margin-top: 40px;
            }

        }

 
    } // a end
  
} // img-gallery end



@media only screen and (min-width: 1250px) {


    .img-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: ". img1 img1 img2 img2 ." ". img3 img3 img4 img4 .";
        grid-gap: 1rem;
        a img {
            
            height: 500px;
            width: 100%;
            margin-bottom: 0px;
        }

    }
    
    #img1 {
        grid-area: img1;
        
    }
    #img2 {
        grid-area: img2;
    }
    #img3 {
        grid-area: img3;
    }
    #img4 {
        grid-area: img4;
    }
} // mq 1250px end






//img-gallery section end