$title-font-size: 45px;
$sub-title-font-size: 25px;
$body-font-size: 16px;
$btn-font-size: 18px;
$btn-padding:  23px 32px;


body {
    margin: 0px !important;
    padding: 0px !important;
}
// project 

.project {

    margin-top: 40px;
    text-align: center;
    
    .img {
        img {
            height: auto;
            max-height: 500px;
            width: 100%;
        }
        .title {
            margin-top: 0px;
            font-size: $title-font-size;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #222222;
            color: white;
            padding: 30px;
        }
        
    } //img end
   

    .project-info  {
    
        .header {
            margin-top: 60px;
            font-size: $sub-title-font-size;
            font-weight: bold;
            margin-bottom: 60px;
            
        }

        .entry {
            
            display: flex;
            justify-content: center;
            text-align: left;
            h1 {
                margin: 0px;
                margin-bottom: 20px;
                border-bottom: 3px solid #BD491F;
                padding-bottom: 15px;
                width: 300px;
                font-size: $sub-title-font-size;
            }
        
            .info {
                font-size: $body-font-size;
                margin-bottom: 50px;
                width: 300px;
            }

        } // entry end

    } // proj end
  

} // proj end

@media only screen and (min-width: 1250px) {
    .project .container {

        padding-left: 40px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .img {
            grid-column: 2/ span 3;
            img {
                height: 600px;
                max-height: 600px;
                width: 100%;
            }
          
            
        } //img end

    }

    .project {
        
        .project-info  {
    
            .header {
                text-align: left;
                margin-top: 20px;
                font-size: 35px;
                margin-bottom: 40px;
                margin-left: 100px ;
            }
    
            .entry {
               
                justify-content: left;
                margin-left: 100px;
                h1 {
                    font-size: 30px;
                }
            
                .info {
                    font-size: 20px;
                    margin-bottom: 35px;
                }
            } // entry end
    
        } // proj end
    }
}

// project end


//testimonials 

.testimonials {
    margin-top: 40px;
    background-color: #BD491F;
    color: white;
    padding: 35px;
    .header {
        margin-top: 30px;
        font-size: $title-font-size;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    .testimonial {
        padding: 10px 30px;
        line-height: 2;
        font-size: $body-font-size;
        text-align: center;
    }
}



@media only screen and (min-width: 1250px) {
    .testimonials .testimonial{
        font-size: $body-font-size;
    }
} // mq 1250px

//testimonials end