$title-font-size: 45px;
$sub-title-font-size: 25px;
$body-font-size: 16px;
$btn-font-size: 18px;
$btn-padding:  23px 32px;


// banner and text section 

.banner {
    height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.8),
     rgba(0, 0, 0, 0.8)), url(../img/tinified/aaron-huber-G7sE2S4Lab4-unsplash.jpg); //img from Aaron Huber
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
        color: white;
        font-size: 55px;
        text-transform: uppercase;
    }
} // banner end


.text-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 20px;
}

.text-section, .description p {
   
    line-height: 1.75;
    padding: 20px 40px;
}

.description p {
    font-size: $sub-title-font-size;
}


@media only screen and (min-width: 1250px) {

    .text-section {
        height: 300px;
    }
    .text-section p{
        max-width: 66vw;
        text-align: center;
    } 
} // mq 1250px end


// banner and text section  end



//permit, planning sections 

.permit, .planning, .construction {
 
    .img {
        background: url(../img/tinified/scott-graham-OQMZwNd3ThU-unsplash.jpg);
        background-position: center;
        background-size: 100% 100%;
        height: 400px;
    }
    
    .description {
        background-color: #222222;
        text-align: center;
        padding: 40px;
     
        img {
            margin-top: 30px;
            height: 200px;
             
        }
        .header {
            margin: 0px;
            color: white;
            font-size: $title-font-size;
            font-weight: bold;
            text-transform: uppercase;
        }

        P {
            margin-top: 40px;
            color: white;
            font-size: 20px;
        }
    }
} // permit, planning  end

.planning {

    .container {
        display: grid;  
        grid-template-areas: "p2" "p1" !important;
    }
    .img {
        grid-area: p2;
        background: url(../img/tinified/sven-mieke-fteR0e2BzKo-unsplash.jpg);
        background-size: 100% 100%;
        height: 400px;
        background-position: center;
     
    }
    .description {
        grid-area: p1;
        background-color: white;
        .header {
            color: #BD491F;
        }
        p {
            color: #BD491F;
        }
    }
} // planning end

.construction  {
    .img {
        background: 
           url(../img/tinified/c-dustin-91AQt9p4Mo8-unsplash.jpg);
        background-size: cover;
        height: 400px;
        background-position: center;
    }
    .description {
        background-color: #BD491F;
        .header {
            color: white;
        }
        p {
            color: white;
        }
    }
} // planning end



@media only screen and (min-width: 1250px) {

    .planning .container {
        grid-template-areas: "p1 p2" !important;
    }
    
    .text-section {
        font-size: 30px;
    }

    .permit, .planning, .construction {
        .img {
            height: 600px;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .description {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 80px ;
              img {
                padding-right: 30px;
              }

              .header, p {
                  padding-left: 0px;
                  max-width: 550px;
              }
              p {
                  font-size: 20px;
              }
            }  
        } // container end
    } // description end
} // mq 1250px end

//permit section end




//contact btn section

.contact-btn {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .header {
        font-size: $title-font-size;
    }
    a {
        display: inline-block;
        margin-top: 40px;
        text-decoration: none;
        background-color: #BD491F;
        padding: $btn-padding;
        color: white;
        font-size: 30px;
        transition: 1s;
        &:hover {
            background-color: #222222;
        }
    }
} //concept btn end

//contact btn section end