.banner {
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/aaron-huber-G7sE2S4Lab4-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/aaron-huber-G7sE2S4Lab4-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .text {
  color: white;
  font-size: 60px;
}

.text-section {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-section, .description p {
  font-size: 25px;
  line-height: 2;
  padding: 0px 40px;
}

@media only screen and (min-width: 1250px) {
  .text-section {
    height: 300px;
  }
  .text-section p {
    max-width: 66vw;
    text-align: center;
  }
}

.permit .img, .planning .img, .construction .img {
  background: url(../img/scott-graham-OQMZwNd3ThU-unsplash.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 400px;
}

.permit .description, .planning .description, .construction .description {
  background-color: #222222;
  text-align: center;
  padding: 40px;
}

.permit .description img, .planning .description img, .construction .description img {
  margin-top: 30px;
  height: 200px;
}

.permit .description .header, .planning .description .header, .construction .description .header {
  margin: 0px;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.permit .description P, .planning .description P, .construction .description P {
  margin-top: 40px;
  color: #cecece;
  font-size: 20px;
}

.planning .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "p2" "p1" !important;
}

.planning .img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p2;
  background: url(../img/thepowercouple-FAhAg0aT6ro-unsplash.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 400px;
}

.planning .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p1;
  background-color: white;
}

.planning .description .header {
  color: #BD491F;
}

.planning .description p {
  color: #424242;
}

.construction .img {
  background: url(../img/scott-webb-_K-QKkbn7Ds-unsplash.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 400px;
}

.construction .description {
  background-color: #BD491F;
}

.construction .description .header {
  color: white;
}

.construction .description p {
  color: #e9e9e9;
}

@media only screen and (min-width: 1250px) {
  .planning .container {
        grid-template-areas: "p1 p2" !important;
  }
  .permit .img, .planning .img, .construction .img {
    height: 600px;
  }
  .permit .container, .planning .container, .construction .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .permit .container .description, .planning .container .description, .construction .container .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 80px;
  }
  .permit .container .description img, .planning .container .description img, .construction .container .description img {
    padding-right: 30px;
  }
  .permit .container .description .header, .permit .container .description p, .planning .container .description .header, .planning .container .description p, .construction .container .description .header, .construction .container .description p {
    padding-left: 0px;
    max-width: 550px;
  }
  .permit .container .description p, .planning .container .description p, .construction .container .description p {
    font-size: 20px;
  }
}

.contact-btn {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contact-btn .header {
  font-size: 40px;
}

.contact-btn a {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  background-color: #d61d1d;
  padding: 40px 120px;
  color: white;
  font-size: 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-btn a:hover {
  background-color: #222222;
}
/*# sourceMappingURL=services.css.map */